

<div class="images-container">

    <div class="row row-centered" ng-repeat="rows in chunked">
        <div class="col-md-4 col-centered" ng-repeat="image in rows track by $index">
            <a href="#/images/{{image._id}}">
                <img class="img-thumbnail img-centered img-fill" ng-src="{{image.imageUrl}}">
                <span class="image-title">{{image.title}}</span>
                <span class="comment-amount">{{image.comments.length}} comments</span>
            </a>
        </div>
    </div>
</div>
